In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://www.worldometers.info/world-population/population-by-country/'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

rows = soup.find('table', {'id' : 'example2'}).find('tbody').find_all('tr')

In [6]:
countries_list = []

for row in rows:
    dic = {}

    dic['Country'] = row.find_all('td')[1].text
    dic['Population 2023'] = row.find_all('td')[2].text.replace(',', '')
    dic['Land Area'] = row.find_all('td')[6].text

    countries_list.append(dic)

In [10]:
df = pd.DataFrame(countries_list)
df.to_excel('countries_data.xlsx', index=False)

In [11]:
countries_data = pd.read_excel('countries_data.xlsx')
countries_data.head(10)

         Country  Population 2023   Land Area
0          India       1428627663   2,973,190
1          China       1425671352   9,388,211
2  United States        339996563   9,147,420
3      Indonesia        277534122   1,811,570
4       Pakistan        240485658     770,880
5        Nigeria        223804632     910,770
6         Brazil        216422446   8,358,140
7     Bangladesh        172954319     130,170
8         Russia        144444359  16,376,870
9         Mexico        128455567   1,943,950